<h1>Welcome to Code Coach</h1>

Code Coach is a portal for developers and non-developers who need coding help.

<hr>

<h2>Scenario 1 - Code Triage</h2>
<ul>
  <li>Coding live-help if you come across a particularly-nasty programming bug, via shared screens, <a href="https://coderpad.io/" target="_blank">CoderPad</a>, etc.</li>
</ul>

<h2>Scenario 2 - Code Mentor</h2>
<ul>
  <li>If you want to learn coding (languages, frameworks, tutorials etc) with a remote coach, pair-programming style. Personalised.</li>
</ul>

<h2>Scenario 3 - Hackathon911</h2>
<ul>
  <li><a href="https://www.hipchat.com/" target="_blank">Hipchat</a> for hackathons, with coding help.</li>
  <li>If you have a great idea at a hackathon but don't know how to code, get help from experienced developers to build and launch an MVP.</li>
  <li>Hackathon organisers can sponsor a channel where experienced developers are available to help ideators. Ramp up the rapid prototyping!</li>
</ul>
